/* Class for setting height to 40% of the viewport */
.customHeight{
    height:40vh;
}
/* main background colour */
.bg-main{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: rgb(255, 70, 70);
}

/* background colour for behind the city */
.bg_city{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: rgb(243, 214, 214)
}
.center {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;}