@import url('https://fonts.googleapis.com/css?family=Lexend&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
    background-color: rgb(23, 23, 23);
    color: rgb(55, 55, 55);
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    
    
  }

  .sticky {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color:rgb(255, 220, 47);
    opacity: 80%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    border-radius: 8px;
  }

.image-container { 
    text-align: center; /* Center the text under the image */ 
} 
.image-container img { 
    max-width: 100%; /* Responsive image */ 
    height: auto; /* Maintain aspect ratio */ 
} 

.right {
    float: right;
    padding: 10px;
  }

.center {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
  }

  h2 {
    color: rgb(230, 230, 230);
    font-family: Poppins;
  }


  h3 {
    color: rgb(155, 155, 155);
    font-family: Lexend;
  }
  p {
    font-family: Poppins, sans-serif;
    
  }

  p1 {
    font-family: Poppins, sans-serif;
    color: rgb(230, 230, 230);
  }

  a{
    font-family: Lexend;
  }
  
  a:link {
    color: rgb(46, 46, 46);
  }
  
  /* visited link */
  a:visited {
    color: rgb(0, 0, 0);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(255, 124, 30);
  }
  
  /* selected link */
  a:active {
    color: rgb(215, 118, 0);
  }
  